{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="layout-settings">
  <div class="layout-name"> {{ form.layout_name }} </div>
  <div class="layout-wrapper">
    <div class="layout-container-upper">
      <div class="layout-right unit"> {{ form.dimenssion }} </div>
      <div class="layout-col"> {{ form.page_width }} </div>
      <div class="layout-col"> {{ form.page_height }} </div>
      <div class="layout-col"> {{ form.margin_top }} </div>
      <div class="layout-col"> {{ form.margin_bottom }} </div>
      <div class="layout-col"> {{ form.margin_left }} </div>
      <div class="layout-col"> {{ form.margin_right }} </div>
      <div class="layout-col"> {{ form.horizontal_gutter }} </div>
      <div class="layout-col"> {{ form.vertical_gutter }} </div>
    </div>
    <div class="layout-container-lower">
      <div class="layout-full"> {{ form.layout_preview }} </div>
      <div class="layout-full"> {{ form.cover_preview }} </div>
      <div class="layout-full"> {{ form.climax_preview }} </div>
    </div>
  </div>
  <div class="layout-footer">
    <div class="active-layout"> {{ form.active }} </div>
    {{ form.actions }}
  </div>
</div>













  








</div>